@page
@model TournamentApplication.Pages.TournamentList.EditModel

<h2 class="text-info">Edit tournament</h2>

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Tournament.Id"/>
        <div class="text-danger" asp-validation-summary="ModelOnly">
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Tournament.TournamentTitle">Tournament title</label>
            </div>
            <div class="col-6">
                <input asp-for="Tournament.TournamentTitle" class="form-control" />
            </div>
            <span asp-validation-for="Tournament.TournamentTitle" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Tournament.TournamentInfo">Tournament info</label>
            </div>
            <div class="col-6">
                <input asp-for="Tournament.TournamentInfo" class="form-control" />
            </div>
            <span asp-validation-for="Tournament.TournamentInfo" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Tournament.TournamentType">Tournament type</label>
            </div>
            <div class="col-6">
                <input asp-for="Tournament.TournamentType" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Tournament.PlayerAmount">Max players</label>
            </div>
            <div class="col-2">
                <input asp-for="Tournament.PlayerAmount" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-2">
                <a asp-page="Tournaments" class="btn btn-success form-control">Back to list</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
