@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tournament Application</h1>
    <p>Tournament Application for fighting games</p>
</div>


<script src="framework/blazor.server.js"></script>

