@page
@model IndexModel
@using TournamentApplication.Components
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tournament Application</h1>
    <p>Tournament Application for fighting games</p>
</div>

@(await Html.RenderComponentAsync<GameList>(RenderMode.ServerPrerendered))

<script src ="framework/blazor.server.js"></script>

